<html>
    <head>
    <title>Appointments</title>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>
    <%= javascript_include_tag 'jquery_data_table.js' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <%=javascript_include_tag "jquery.table2CSV.min" %>
    <script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>

<script>
      jQuery(document).ready(function($) {
          $('#table_id').dataTable({
            "bAutoWidth": true,
            "bPaginate": false,
            "bProcessing": true,
            "sScrollY": "430px",
            "bInfo": true,
            "bPaginate": false,
            "bSort": false
          });
    search_box = $('#table_id').dataTable()
    search = document.getElementsByTagName("input")[0];
    search.setAttribute("id","search");
    document.getElementById('search').setAttribute("onclick","showKeyboard();");
    //document.getElementById("find").innerHTML = "<span>Back</span>";
   // document.getElementById("find").style.cssFloat = "left";
    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    keyboard = document.getElementsByClassName("keypad")[0]
    function getCharButtonSetID(character,id){
      return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
    }
    function getButtonString(id,string){
      return "<button \
                            onMouseDown='press(this.id);' \
                            class='keyboardButton' \
                            id='"+id+"'>"+
        string +
        "</button>";
    }

    function getButtons(chars){
      var buttonLine = "";
      for(var i=0; i<chars.length; i++){
        character = chars.substring(i,i+1)
        buttonLine += getCharButtonSetID(character,character)
      }
      return buttonLine;
    }

    showAlphaKeypad();

    function showAlphaKeypad(){
      document.getElementById("keypad").style.height = "280";
      keyboard.innerHTML= getButtons("0123456789") + "</br>"
      keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>"
      keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>"
      keyboard.innerHTML+= getButtons("ZXCVBNM,.?")
      keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
      keyboard.innerHTML+= getButtonString('Space','<span>Space</span>')
      keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
    }

    function showNumericKeypad(){
      document.getElementById("keypad").style.height = "145";
      keyboard.innerHTML = getButtons("123")
      keyboard.innerHTML+= getButtons("456")
      keyboard.innerHTML+= getButtons("7890")
      keyboard.innerHTML+= getButtonString('space','<span>Space</span>')
      keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
      keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
      keyboard.innerHTML+= getButtonString('abc','<span>abc</span>')
      keyboard.innerHTML+= getButtonString('dash','<span>-</span>')
      keyboard.innerHTML+= getButtonString('slash','<span>/</span>')
    }

    data_table_length =document.getElementsByName('table_id_length')[0];
    data_table_length.setAttribute("style","font-size:20px;");

    table_length = document.getElementById("table_id_length");
    table_length.setAttribute("style","width:100px;");

  })
    </script>

    <script>

      function showKeyboard(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
          key.style.display = "inline";
          return
        }

        key.style.display = "none";
      }

      function press(pressedChar){
        switch (pressedChar) {
          case 'backspace':
            search.value = search.value.substring(0,search.value.length-1);
            search_box.fnFilter(search.value)
            return;
          case 'Space':
            search.value+= " "
            search_box.fnFilter(search.value)
            return
          case 'clear':
            search.value = ""
            search_box.fnFilter(search.value)
            return
          case 'num':
            showNumericKeypad();
            return
          case 'slash':
            search.value+= "/"
            search_box.fnFilter(search.value)
            return
          case 'dash':
            search.value+= "-"
            search_box.fnFilter(search.value)
            return
          case 'abc':
            showAlphaKeypad();
            return
        }
        search.value+= pressedChar
        search_box.fnFilter(search.value)
      }
      //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </script>

    <style>
#backspace{
        position:absolute;
        left:100px;
        bottom:2px;
      }

      #Space{
        position:absolute;
        left:220px;
        bottom:2px;
        width:200px;
      }

      #clear{
        position:absolute;
        left:470px;
        bottom:2px;
      }
       #num{
        position:absolute;
        left:470px;
        bottom:2px;
        width:200px;
      }
      #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 5px;
        position: absolute;
        right: 13px;
        top: 194px;
        width: 672px;
      }
    </style>
    <style>
        div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      #table_id {
        width: 100%;
      }

      #table_id_filter{
        position:absolute;
        top:0px;
        right:1%;
        margin-top:-40px;
      }

      #table_id_filter input{
        padding:0.5em;
      }


      .dataTables_length select {
        font-size: 25px;
      }
      .horizontal_line hr{
        position:absolute;
        bottom:104px;
      }
      #table_id_info{
        left: 10px;
        position: absolute;
        top: 491px;
        font-weight:bold;
      }
      #table_id_length{
        display:none;
      }
       #table_id_paginate{
        display:none;
      }
      #num{ display:none; }
      #char{ display:none; }

    </style>





<table id="table_id" >
  <%
    # This code generates HTML Page from Ruby
    # added new line formatting at the end of each table data rows

    week_days     = [["Mon", "Monday"], ["Tue", "Tuesday"], ["Wed", "Wednesday"], ["Thu", "Thursday"], ["Fri","Friday"], ["Sat", "Saturday"], ["Sun", "Sunday"]]

    # generate table headers
    table_header  =  "<thead><tr>\n\t\t"
    table_header  += "<th style='background:#FFFF99;'"
    table_header  += "class='table-heading-td' width=''>"
    table_header  += "Week</th>\n\t\t"

    week_days.map do |day, day_name|

      table_header += "<td class='table-heading-td' onclick='plotGraph(visitsByWeekDay[\"#{day}\"], \"#{day_name}\", \"page-title\");'>"
      table_header += day
      table_header += "</td>\n\t\t"
    end

    print_table_header =  table_header
    print_table_header += "<td class='table-heading-td'"
    print_table_header += " id='totals'>Total</td>\n\t"
    print_table_header += "\r\t</tr>\n\t</thead>"

    # generate table data
    week_number = 0
    weeks       = @visits_by_day.keys.sort

    print_each_table_row = "<tbody>"

    weeks.map do |week|

      week_number     += 1
      weekly_visits   = 0
      week_beginning  = week.beginning_of_week.strftime("%d-%b-%Y")
      week_ending     = week.end_of_week.strftime("%d-%b-%Y")
      day_details     = ""

      week_details    =  "<tr>\n\t\t"
      week_details    += "<td class='button-td'  width='44%'>"
      week_details    += "Week #{week_number}: #{week_beginning}"
      week_details    += " to  #{week_ending}"
      week_details    += "</td>\n\t\t"

      week_days.map do |day, day_name|

        this_day = @visits_by_day[week][day]

        unless this_day.nil?
          visits_number = this_day.count
          visit_date    = this_day.first.encounter_datetime.to_date
          weekly_visits += visits_number
        else
          visits_number = ""
          visit_date    = ""
        end

        day_details +=  "<td class='data-totals-td'>"
        day_details +=  link_to_onmousedown visits_number,
                          :controller => "report",
                          :action     => "appointment_dates",
                          :date       => visit_date,
                          :process    => "visits_by_day"
        day_details +=  "</td>\n\t\t"
      end

      print_each_table_row  +=  week_details + day_details
      print_each_table_row  += "<td style='text-align: center' "
      print_each_table_row  += "id='totals'>#{weekly_visits}</td>\n\t"
      print_each_table_row  += "\r\t</tr>\n\t"
  end
  %>
  <%= print_table_header %>
  <%= print_each_table_row %>
</tbody>
</table>
