<%= stylesheet_link_tag "cohort_tool_graph" %>
<style>
  #adherence_summary{    
    border-style:solid;
    position: absolute;
    top: 75px;
    left: 150px;
    background-color: white;
    display: none;
    font-size: 25;
    z-index: 100;
    width: 400px;
    height:230px;
    -moz-user-select:none;
  }

  #adherence_summary table{
    width:100%;
  }
  
  #adherence_summary button{
    bottom:5px;
    height:55px;
    left:155px;
    position:absolute;
    width:85px;
  }

  .summary_title {
    padding-left:15px;
  }

  .summary_results {
    text-align:right;
    padding-right:15px;
  }


  
    #number{
      background-color: #4A708B;
      border-bottom: 1px outset black;
      border-style: outset;
      border-top: 1px outset black;
      color: white;
      display: block;
      padding: 10px 16px 10px 10px;
      text-align: center;
      text-decoration: none;
      width: 200px;
      cursor: pointer;
    }
    .logo {
        float:left
      }

      #items{
        left: 772px;
    position: absolute;
    top: 306px;
}

#placeholder{
  position: absolute;
  top: 65px;
  left: 63px;
}
#yaxis{
  left: 1%;
    position: absolute;
    top: 49%;
}
#xaxis{
    position: absolute;
    top: 82%;
    left: 23%;
}
div{
  -moz-user-select: none;
}
#find{
 display: none;
}
</style>

<script language="javascript">
  function closeSummary(){
    document.getElementById('adherence_summary').style.display="none";
  }
  
  function adhSummary(){
    document.getElementById('adherence_summary').style.display="block";
  }
</script>

<%= image_tag(@logo, :class => "logo")%>
    <br /><b style="margin-left:75px"><%= @location_name %></b><br />
    <b style="position:relative; top:0px;margin-left:75px"><%= @report_type %></b><br />
    <b style="position:relative; top:0px;margin-left:75px"><%=  params[:quarter] %></b><br /><br />


<div id="yaxis">Patients</div>
<div id="xaxis">Adherence (%)</div>

  <%= render :partial => "adherence_graph" %>

<div id = "adherence_summary">
  <table>
    <tr><td style="text-align:center;">Summary</td></tr>
  </table>  
  <table>
    <tr><td class='summary_title'><b>Adherence level</b></td><td class='summary_results'><b>Patient(s)</b></td></tr>
    <tr><td class='summary_title'>0 - 94%</td><td class='summary_results'><%= @adherence_summary_hash["0 - 94"] %></td></tr>
    <tr><td class='summary_title'>95 - 100%</td><td class='summary_results'><%= @adherence_summary_hash["95 - 100"] %></td></tr>
    <tr><td class='summary_title'>Over 100%</td><td class='summary_results'><%= @adherence_summary_hash["> 100"] %></td></tr>
    <tr><td class='summary_title'><a href="/cohort_tool/patients_with_adherence_greater_than_hundred/?quarter=<%=@quarter%>&show_missing_adherence=yes">Missing</a></td><td class='summary_results'><%= @adherence_summary_hash["missing"] %></td></tr>
    <tr><td class='summary_title'>Total</td><td class='summary_results'><b><%= @adherence_summary_hash["total"] %></b></td></tr>
  </table><!--</br><button onClick="closeSummary()">Close</button>-->
</div>

<div id="items">
    <a style="position:absolute; width:200px" id="number" onClick="closeSummary()">Close</a><br /><br /><br />
    <% unless @adherences.blank? %>
      <a style="position:absolute; width:200px" id="number" onclick='adhSummary();'><span>Summary</span></a><br /><br /><br />
      <a style="position:absolute; width:200px" id="number" onclick="document.location='/cohort_tool/reports?report=<%=  @quarter %>&report_type=<%=  @type %>';"><span>Over 100% Adherence</span></a>
    <% end %>
</div>