<%= javascript_include_tag "prototype" %>

<style>
  .negative_numbers a {
    color: red;
    text-decoration: none;
  }

  .positive_numbers a {
    color: navy;
    text-decoration: none;
  }
  .logo {
    float:left
  }
</style>

<%= stylesheet_link_tag "stock_report" %>
<%#= stylesheet_link_tag "data_table" %>
<%#= stylesheet_link_tag "data_table_jui" %>
<%#= stylesheet_link_tag "data_table_page" %>

<%=javascript_include_tag "jquery_data_table" %>
<%=javascript_include_tag "jquery.dataTables.min" %>

<script>
  var tt_cancel_destination = '/clinic'; // /management';
  function dataT(){
    $('#data_table').dataTable();
  }
  dataT();
</script>

<div id="general_dashboard">
  <%= image_tag(@logo, :class => "logo")%><br />
  <br /><b style="margin-left:75px"><%= @current_location_name %></b><br />
  <b style="position:relative; top:0px;margin-left:75px">Drug stock report</b><br />
  <b style="position:relative; top:0px;margin-left:75px">From : <%= @start_date.strftime("%A, %Y %b %d")%></b><br />
  <b style="position:relative; top:0px;margin-left:75px">To : <%=@end_date.strftime("%A, %Y %b %d")%></b><br />
<%#= render :partial => "header" %>
  <br /><br />
  <table class="main-table">
  <tr class="header">
    <td>
      <table>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td style="width:200px;">Item</td>
          <td style="text-align:right;padding-right:5px;">Units</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="2" style="text-align:center;">Opening stock</td>
        </tr>
        <tr>
          <td>Date</td>
          <td style="text-align:right;">Verified</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="2" style="text-align:center;">Total adjustments in interval</td>
        </tr>
        <tr>
          <td style="vertical-align: bottom;">Received</td>
          <td style="text-align:right;">Relocated <br />out/disposed</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">Dispensed</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="3" style="text-align:center;">Closing stoke</td>
        </tr>
        <tr>
          <td style="width:65px;">Date</td>
          <td>Expected</td>
          <td style="text-align:right;">Verified</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">Difference</td>
        </tr>
      </table>
    </td>
  </tr>
  <%color = "blue"
    count = 1
    original_form_count = 0
    @stock.each{|name,values|
      if color == "blue"
        color = "white"
      else
        color = "blue"
      end
      
      %>
  <tr>
    <td class="color_<%=color%>">
      <table class="inner-data">
        <tr>
          <td style="width:90px;"><%=name%></td>
          <td style="text-align:right;width:40px;vertical-align: top;">tins (60 tabs)</td>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="current_stock_<%=count%>">
      <table class="inner-data">
        <tr>
          <td style="width:60px;text-align:left;"><%=values['start_date']%></td>
          <td style="width:60px;" class='positive_numbers'>
            <a href="/drug/stock_report_edit?date=<%=values['start_date']%>&drug_id=<%=values['drug_id']%>&edit_reason=opening_stock&start_date=<%=@start_date%>&end_date=<%=@end_date%>">
              <%=(values['confirmed_opening'] / 60).round %>
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="current_stock_<%=count%>">
      <table class="inner-data">
        <tr>
          <td style="width:30px;text-align:left;color:green;">+<%= (values['receipts'] / 60).round %></td>
          <% relocated = (values['relocated'] / 60).round 
            if relocated < 0
          %>
            <td style="width:100px;color:red;"  class='negative_numbers'>
              <a href="/drug/stock_report_edit?drug_id=<%=values['drug_id']%>&edit_reason=relocated&max_date=<%=values['end_date']%>&start_date=<%=@start_date%>&end_date=<%=@end_date%>"><%=relocated %></a>
            </td>
          <%else%>
            <td style="width:100px;color:red;" class='negative_numbers'>
              <a href="/drug/stock_report_edit?drug_id=<%=values['drug_id']%>&edit_reason=relocated&max_date=<%=values['end_date']%>&start_date=<%=@start_date%>&end_date=<%=@end_date%>">- <%=relocated %></a>
            </td>
          <%end%>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="dispensed_<%=count%>">
      <table class="inner-data">
        <tr>
        <% dispensed = (values['dispensed'] / 60).round
           if dispensed < 0
        %>
          <td style="text-align:center;color:red;"><%=dispensed %></td>
        <%else%>
          <td style="text-align:center;color:red;">- <%=dispensed %></td>
        <%end%>
        </tr>
      </table>
    </td>
      <%
        #expected = ( (values['confirmed_closing'] / 60) - (values['expected'] / 60) ).round

        plus_values = (values['receipts'] / 60).round                       
        plus_values += (values['confirmed_opening'] / 60).round             
                                                                            
        minus_values = relocated                                            
        minus_values += dispensed                                           
                                                                            
        expected = plus_values - minus_values                               

      %>
    <td class="color_<%=color%> caldata" id="dispensed_<%=count%>">
      <table class="inner-data">
        <tr>
          <td style="text-align:left;width:40px;"><%=values['end_date'] %></td>
          <td style="text-align:left;width:75px;padding-left:12px;"><%= expected %></td>
          <td style="text-align:right;width:75px;" class='positive_numbers'>
            <a href="/drug/stock_report_edit?date=<%=values['end_date']%>&drug_id=<%=values['drug_id']%>&edit_reason=closing_stock&start_date=<%=@start_date%>&end_date=<%=@end_date%>">
              <%=(values['confirmed_closing'] / 60).round %>
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="dispensed_<%=count%>">
      <%                                                                        
        verified = (values['confirmed_closing'] / 60).round                     
        difference = ((verified.to_f/expected.to_f)*100).round rescue 0
      %> 
      <table class="inner-data">
        <tr>
          <%if difference < 0 %>
            <td style="text-align:center;color:red;"><%= difference %>&#37;</td>
          <%elsif difference == 0 %>
            <td style="text-align:center;color:green;"><%= difference %>&#37;</td>
          <%else%>
            <td style="text-align:center;color:green;">+<%= difference %>&#37;</td>
          <%end%>
        </tr>
      </table>
    </td>



   </tr>
   <% count+=1
      original_form_count+=1
    }%>
</table>
</div>

<script>
  dataT();
</script>

