<%= javascript_include_tag "date" %>
<script>
  var tt_cancel_destination = "/patients/show/<%= @patient.patient_id -%>";
<% @session_date = "#{session[:datetime].to_date rescue Date.today}" %>
<% @todayDate = @session_date.to_date  %>
<% @alert_date = @session_date.to_date - 90.days %>
  var ageInMonths = '<%= @patient_bean.age_in_months %>'

  function checkTestDate (){
    var dateCheck = "";
	var currentYear = '<%= @todayDate.year %>'
	var currentMonth = '<%= @todayDate.month %>'
    var testDate = new Date($('hiv_test_year').value, $('hiv_test_month').value - 1, $('hiv_test_day').value);
	<% @session_date = "#{session[:datetime]} rescue #{Date.today}" %>
	var years = testDate.getFullYear();
	var month = testDate.getMonth();

	years = currentYear - years;
	month = currentMonth - month;
	var total = (years * 12) + month;
    var sessionDate = "<%="#{@session_date.to_date.year},#{@session_date.to_date.month},#{@session_date.to_date.day}"%>";
    var todayDate = new Date(sessionDate);
	
	if ((total > ageInMonths) || (testDate > todayDate)){
	  dateCheck = false
	}else {
      dateCheck = true
    }
    return dateCheck
  }

  function updateTestDate(){
    var testDate = new Date($('hiv_test_year').value, $('hiv_test_month').value - 1, $('hiv_test_day').value);
    $('hiv_test_date').value = testDate;

<% @session_date = "#{session[:datetime]} rescue #{Date.today}" %>
<% @todayDate = @session_date.to_date - 90 %>

    var sessionDate = "<%="#{@todayDate}"%>";
    var todayDate = new Date(sessionDate);

    if (todayDate > testDate){
      showNegativeTestReminder = true
	}else {
      showNegativeTestReminder = false
    }
    return showNegativeTestReminder
  }

  function upNextButton() {
    if ($('hiv_status').value == 'Unknown') {
      $('nextButton').innerHTML = '<span>Finish</span>';
    } else if ($('hiv_status').value == 'Negative' && ($('hiv_test_year').value == 'Unknown')) {
      $('nextButton').innerHTML = '<span>Finish</span>';
    } else if ($('hiv_status').value == 'Negative' && ($('hiv_test_day').value == 'Unknown')) {
      $('nextButton').innerHTML = '<span>Finish</span>';
    }
  }

  function updateInitiationDate(){

    testDate = createDate($('hiv_initiation_year').value, $('hiv_initiation_month').value , $('hiv_initiation_day').value);
    $('hiv_initiation_date').value = testDate;
<% @session_date = "#{session[:datetime]} rescue #{Date.today}" %>
<% @todayDate = @session_date.to_date - 90 %>

    var sessionDate = "<%="#{@todayDate}"%>";
    var todayDate = new Date(sessionDate);

    if (todayDate > testDate){
      showNegativeTestReminder = true
	}else {
      showNegativeTestReminder = false
    }
    return showNegativeTestReminder
  }

  function isTestOverDue(testDate,alertDate) {
    if (testDate <= alertDate){
      return true;
    }else {
      return false;
    }
  }

  function createDate(year,month,day) {
    date_str = year

    if(month.length == 1)
      month = '0' + month

    date_str+='-' + month

    if(day.length == 1)
      day = '0' + day

    date_str+='-' + day

    intyear = 0 ; intmonth = 0 ; intday = 0;
    intyear = parseInt(date_str.substring(0,4))
    intmonth = (parseInt(date_str.substring(5,7)) - 1)
    intday = (parseInt(date_str.substring(8,10)))

    if (intmonth == -1)
      intmonth = (parseInt(date_str.substring(5,7).substring(1,2)) - 1)

    if (intday == 0)
      intday = parseInt(date_str.substring(8,10).substring(1,2))

    return new Date(intyear,intmonth,intday);
  }
</script>
<style>
  .tt_controls_hiv_test_year #char { display: none; }
  .tt_controls_htc_serial_number #Unknown { display:block; }
  .tt_controls_htc_serial_number #char { display:none; }
  .tt_controls_hiv_test_month .keyboard { display:none; }
  #tt_page_hiv_test_month .options{height:550px;}
  #tt_page_hiv_test_month .options li{font-size:35px;}
  #space {display:inline;}
</style>

<form id='update_hiv_status' action="/encounters/create" method='post'>
  <%= hidden_field_tag "encounter[encounter_type_name]", "UPDATE HIV STATUS" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", current_user.user_id %>

  <%= touch_select_tag "HIV STATUS", @patient, options_for_select(@select_options['hiv_status']),
	{:id => "hiv_status",
	:multiple => false,
	:tt_pageStyleClass => "NoKeyboard",
	:helpText => "HIV Status" } %>

  <%= text_field_tag "hiv_test_year", nil,
	{:helpText => 'HIV test year',
	:field_type => 'number',
	:absoluteMin => "1982",
	:min => "1982",
	:absoluteMax => Date.today.year,
	:tt_pageStyleClass => "Numeric NumbersOnly",
	:condition => '$("hiv_status").value != "UNKNOWN"'}
%>

  <%= select_tag "hiv_test_month", month_name_options,
	{:helpText => 'HIV test month',
	:condition => '($("hiv_test_year").value.toLowerCase() != "unknown") && ($("hiv_status").value != "UNKNOWN")',
	:tt_onLoad => "__$('keyboard').style.display = 'none'"}%>

  <%= text_field_tag "hiv_test_day",  nil,
	{:field_type => 'number',
	:helpText => 'HIV test day',
	:validationCode => "checkTestDate()",
	:validationMessage => "HIV test date greater than #{session[:datetime].to_date rescue Date.today.to_date}",
	:condition => '($("hiv_test_year").value != "Unknown") && ($("hiv_test_month").value != "Unknown") && ($("hiv_status").value != "UNKNOWN")',
	:tt_onLoad => "getDayOfMonthPicker($('hiv_test_year').value,$('hiv_test_month').value);",
	:tt_onUnload=> "updateTestDate();"
  } %>

<%#= text_field_tag :summary, nil, 
{:tt_onLoad => '$("hivTestReminder").style.display = "block";$("nextButton").innerHTML = "<span>Finish</span>";', 
:optional => "true", 
:tt_pageStyleClass => "NoControls", 
:helpText => 'HTC Reminder', 
:condition => '(updateTestDate() == true && $("hiv_status").value == "NEGATIVE") || ($("hiv_status").value == "UNKNOWN");'} 
%>

  <%= touch_location_tag "LOCATION OF HIV TEST", @patient, nil,
	{:id => "location_of_hiv_test",
	:condition => '$("hiv_status").value == "POSITIVE"',
	:ajaxURL => '/encounters/locations?search_string=',
	:helpText => "Location of HIV test" } %>

  <%= touch_numeric_tag "HTC SERIAL NUMBER", @patient, nil,
	{:id => "htc_serial_number",
	:condition => '$("hiv_status").value == "POSITIVE"',
	:tt_pageStyleClass => "Numeric NumbersOnly",
	:helpText => "HTC serial number" } %>

  <%= touch_hidden_tag "ART initiation date", @patient, nil, {:id => "hiv_initiation_date", :value_datetime => true}%>
  <%= touch_hidden_tag "HIV TEST DATE", @patient, nil, {:id => "hiv_test_date", :value_datetime => true}%>

  <%= touch_yes_no_unknown_tag "Refer to HTC", @patient, nil,
	{:id => "refer_to_htc",
	:condition => '$("hiv_status").value == "NEGATIVE" && updateTestDate() == true',
	:tt_pageStyleClass => "NoKeyboard",
	:helpText => "Patient has been -ve for more than 3 months. Refer patient to HTC?" } %>

  <%= touch_yes_no_unknown_tag "Refer to HTC", @patient, nil,
      {:id => "refer_to_htc",
      :condition => '$("hiv_status").value == "UNKNOWN"',
      :tt_pageStyleClass => "NoKeyboard",
      :helpText => "Refer patient to HTC?" } %>

  <%= touch_hidden_tag "Refer to HTC", @patient, "NO", {:id => "refer_to_htc",
	:condition => '$("refer_to_htc").value != "NO" && $("refer_to_htc").value != "YES" && $("refer_to_htc").value != "UNKNOWN"'}%>

  <% session_date = session[:datetime].to_date rescue nil
  if session_date %>

	<p><label for="filter_provider">Staff who provided the information (Provider)</label></br>
	<%= text_field "filter" , 'provider', :helpText => 'Staff who provided the information (Provider)', :ajaxURL => '/user/username?username=' %></p>
  <% else %>
	<%= hidden_field_tag "filter[provider]", nil %>
  <%end%>

  <%= submit_tag "Finish" %>

</form>

<div id='hivTestReminder' class='messageBar' style='display:none'>
  Please refer this person to HTC<br /> 
  <button onmousedown="$('hivTestReminder').style.display = 'none';"><span>OK</span></button>
</div> 

