<html>
  <head>
    <title>Mastercard</title>
    <%= stylesheet_link_tag "mateme" %>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>

    <script type="text/javascript">
      var tt_cancel_destination = "/patients/show/?patient_id=" + "<%=@patient_id%>"

      function hideLoadMsg() {
        document.getElementById('msgBox').style.display = "none";
      }

      function loadMsg() {
        try {
          document.getElementById('msgBox').style.display = "inline";
          document.getElementById('dot1').style.display = "inline";
        }catch(e) {}
      }

      function showDots() {
        if(document.getElementById('dot10').style.display == "inline"){
          allDots = document.getElementsByClassName('dots');
          for(i=0;i<allDots.length;i++) {
            allDots[i].style.display = "none";
          }
          document.getElementById('dot1').style.display = "inline";
          return
        }

        if(document.getElementById('dot9').style.display == "inline"){
          document.getElementById('dot10').style.display = "inline";
        }else if(document.getElementById('dot8').style.display == "inline"){
          document.getElementById('dot9').style.display = "inline";
        }else if(document.getElementById('dot7').style.display == "inline"){
          document.getElementById('dot8').style.display = "inline";
        }else if(document.getElementById('dot6').style.display == "inline"){
          document.getElementById('dot7').style.display = "inline";
        }else if(document.getElementById('dot5').style.display == "inline"){
          document.getElementById('dot6').style.display = "inline";
        }else if(document.getElementById('dot4').style.display == "inline"){
          document.getElementById('dot5').style.display = "inline";
        }else if(document.getElementById('dot3').style.display == "inline"){
          document.getElementById('dot4').style.display = "inline";
        }else if(document.getElementById('dot2').style.display == "inline"){
          document.getElementById('dot3').style.display = "inline";
        }else if(document.getElementById('dot1').style.display == "inline"){
          document.getElementById('dot2').style.display = "inline";
        }
      }
    </script>

    <style>
      .dots {
        display: none;
      }

      body {
        background-color: #000;
      }
      #main {
        width: 99.7%;
        height: 88.5%;
        overflow: hidden;
        -moz-user-select:none;
      }

      #msgBox table {
        -moz-user-select:none;
        font-size: 27px;
        margin-left: 10px;
        margin-right: 10px;
        position: absolute;
        top: 25px;
      }

      #msgBox {
        background-color: lightgrey;
        border-style: solid;
        border-width: 1px;
        height: 106px;
        left: 36%;
        position: absolute;
        top: 200px;
        width: 465px;
        -moz-user-select:none;
      }

      #content {
        background:#FFFFFF;
        position:absolute;
        left:50%;
        top:50%;
        width:1000px;
        height:750px;
        margin-left:-500px;
        margin-top:-380px;
        -moz-user-select:none;

      }

      #footer {
        background-color:#333333;
        color:#CADCEA;
        height:80px;
        width:100%;
        bottom:0px;
        position:absolute;
        overflow:hidden;
        -moz-user-select:none;
      }

    </style>

  </head>
  <body onload="hideLoadMsg();">
    <div id="content">
      <iframe id="main" style="border: 0px solid #fff;"
              src="/patients/<%= (!@type.nil? ? "general_mastercard" : "mastercard_printable")
                  %>?patient_id=<%=@patient_id%>&type=<%= @type %>"></iframe>

      <div id="footer" style="">
        <button onclick="window.location = '/patients/show/?patient_id=<%=@patient_id%>';" class="button navButton green"
                id="nextButton" style="float: right; margin-right: 10px;" ><span>Finish</span>
        </button>

        <% if @source.nil? %>
          <button class="button navButton blue" style="float: left;"
                  onmousedown="window.location = '/patients/print_mastercard?patient_id=<%=@patient_id%>'">
            <span>
              Print Mastercard
            </span>
          </button>
        <% end %>
    
        <% if show_lab_results %>                                     
          <button class="button navButton blue" style="float: left;"
                  onmousedown="window.location = '/lab/results/<%=@patient.id -%>'">
            <span>
              Lab trail
            </span>
          </button>
        <%end%> 

      </div>
    </div>

    <div id="msgBox">
      <table>
        <tr>
          <td>Loading: please wait</td>
          <td>&nbsp;</td>
          <td class="dots" id="dot1">.</td>
          <td class="dots" id="dot2">.</td>
          <td class="dots" id="dot3">.</td>
          <td class="dots" id="dot4">.</td>
          <td class="dots" id="dot5">.</td>
          <td class="dots" id="dot6">.</td>
          <td class="dots" id="dot7">.</td>
          <td class="dots" id="dot8">.</td>
          <td class="dots" id="dot9">.</td>
          <td class="dots" id="dot10">.</td>
        </tr>
      <table>
    </div>
  </body>
</html>

<script>
  setInterval("showDots();",200);
  loadMsg();
</script>
