<style type="text/css">
  #prescription_container , #formulations_container {
    border-style: solid;
    height: 250px;
    width: 93%;
    margin-left: 26px;
    overflow: auto;
  }

  #prescription_container table, #formulations_container table {
    -moz-user-select:none;
    width: 100%;
    font-size: 20px;
  }

  #prescription_container th , #formulations_container th {
    text-align: left;
    font-size: 20px;
    background-color: lightgrey;
  }

  .tr_blue {
    background-color: #E6E6FF;
  }
  
  #formulations_container td {
    font-size: 25px;
    padding-bottom: 30px;
  }

</style>

<%= javascript_include_tag "prototype"%>
<script>
  var patient_id = "<%= @patient.patient_id %>";
  var tt_cancel_destination = "/patients/treatment_dashboard/<%= @patient.patient_id %>"
  var current_regimens_for_programs = <%= @current_regimens_for_programs.to_json -%>;
  var current_regimen_names_for_programs = <%= @current_regimen_names_for_programs.to_json -%>;

  var formulation_hash = {};
  var selected_formulation = '';
  var previous_color = []
  var regimen_id = null; 

  function set_patient_program_for_suggestions() {    
    var patient_program_id = encodeURIComponent($('patient_program').value); 
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', "/regimens/suggested?id=" + patient_program_id + "&search_string=");
    listSuggestions(tstCurrentPage); 
  }

  function set_regimen_concept_id_for_regimen() {    
    // It is really helpful to just set this
    if (selectedValue("continue_existing_regimen") == "YES") {
      value = current_regimens_for_programs[$("patient_program").value];
      $('regimen_concept_id').innerHTML = "<option selected='selected'>" + value + "</option>";
    }
    var regimen_concept_id = encodeURIComponent($('regimen_concept_id').value); 
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', "/regimens/dosing?patient_id=<%= @patient.patient_id %>&id=" + regimen_concept_id + "&search_string=");
    listSuggestions(tstCurrentPage); 
  }

  function set_regimen_concept_id_for_duration() {
    var regimen_concept_id = encodeURIComponent($('regimen_concept_id').value); 
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', "/regimens/durations?id=" + regimen_concept_id + "&search_string=");
    listSuggestions(tstCurrentPage); 
  }

  function buildPrescriptionPage() {
    $('clearButton').style.display = 'none';
    $('keyboard').style.display = 'none';
    $('viewport').style.display = 'none';
    $('helpText'+tstCurrentPage).innerHTML = "Select doses. Current patient weight:&nbsp;<%=@patient.current_weight%>";
    var regimen_concept_id = encodeURIComponent($('regimen_concept_id').value); 
    $('touchscreenInput'+tstCurrentPage).setAttribute('type','hidden');
    current_page = $('page'+tstCurrentPage);

    html = "&nbsp;<div id ='prescription_container'><table><tr>" 
    html += "<th>Drug name</th><th>Units</th><th>Daily dose</th>" 
    html += "</tr></table></div>" 
    current_page.innerHTML += html

    new Ajax.Request("/regimens/formulations?patient_id=<%=@patient.id %>&id=" + regimen_concept_id ,{method:'get',onSuccess: function(transport){
      formulations = JSON.parse(transport.responseText) || "";
      if(formulations.length > 0 && formulations != "[[[]]]" && formulations != "[]"){
        count = 0
        html = "&nbsp;<div id ='formulations_container'><table><tr>" 
        html += "<th>Drug name</th>" 
        html += "</tr>"
        bgcolor = 'blue';
        for (i = 0 ; i < formulations.length ; i++) {
          td_data = ''
          for (x = 0 ; x < formulations[i].length ; x++) {
            if(td_data.length == 0){
              td_data = formulations[i][x][0] 
              formulation_hash[i] = formulations[i][x][0] + ":" + formulations[i][x][1] + ":" + formulations[i][x][2] + ":" + formulations[i][x][3];
            }else{ 
              td_data += "<br />" + formulations[i][x][0] 
              formulation_hash[i] += " ;; " + formulations[i][x][0] + ":" + formulations[i][x][1] + ":" + formulations[i][x][2] + ":" + formulations[i][x][3];
            }
          }
          if(bgcolor =='blue') {
            bgcolor = 'white'
          }else{bgcolor='blue'}
          attr = i + ',' + (count++) + "," + bgcolor
          html += "<tr id ='" + count + "' class='tr_" + bgcolor + "'"
          html += "onmousedown=\"showDosage('" + attr + "');\"" 
          html += "><td>" + td_data + "</td></tr>"
        }
        html +="</table></div>" 
        current_page.innerHTML += html
        if (selected_formulation.length > 0) {
          previous_selected_regimen_id = selected_formulation.split(',')[3];
          dosages = formulation_hash[key].split(" ;; ");
          new_regimen = true
          for (i = 0 ; i < dosages.length ; i++) {
            if (previous_selected_regimen_id == (dosages[i].split(':')[3]))
              new_regimen = false
          }

          if (!new_regimen) {
            showDosage(selected_formulation);
          }else{
            $('regimen').value = '';
            $('touchscreenInput'+tstCurrentPage).value = '';
            previous_color = [] ; 
          }
        }
      }
    }});

  }

  function showDosage(key_row_id_plus_row_color) {//lightblue
    $('touchscreenInput'+tstCurrentPage).value = null;
    regimen_id = null
    key = key_row_id_plus_row_color.split(',')[0];
    color = key_row_id_plus_row_color.split(',')[2];
    row_id = (parseFloat(key_row_id_plus_row_color.split(',')[1]) + 1);

    dosages = formulation_hash[key].split(" ;; ")
    
    formulation_div = $('prescription_container');
    html = "<table><tr><th>Drug name</th><th>Units</th><th>Daily dose</th></tr>" 

    for (i = 0 ; i < dosages.length ; i++) {
      if(i > 0)
        $('touchscreenInput'+tstCurrentPage).value+= ';';

      html+= "<tr>"
      html+= "<td>" + (dosages[i].split(':')[0]) + "</td>"
      html+= "<td>" + (dosages[i].split(':')[1]) + "</td>"
      html+= "<td>" + (dosages[i].split(':')[2]) + "</td>"
      $('touchscreenInput'+tstCurrentPage).value+= (dosages[i].split(':')[0]) + ": "
      $('touchscreenInput'+tstCurrentPage).value+= (dosages[i].split(':')[1])
      $('touchscreenInput'+tstCurrentPage).value+= (dosages[i].split(':')[2])
      html+= "</tr>"
      regimen_id = (dosages[i].split(':')[3])
    }
    html+= "</table>"
    formulation_div.innerHTML = html
    selected_formulation = key + "," + (parseFloat(row_id) - 1) + "," + color + "," + regimen_id;
    select(row_id , color)
  }


  function select(id,color) {
    if (previous_color.length > 0) {
      try {
        row = $(previous_color[0][0]);
      }catch(e){ row = $(parseFloat(id)) } 

      try {
        if (previous_color[0][1] == 'blue'){
          row.style.background = '#E6E6FF'
        }{ row.style.background = '' }
      }catch(e) {}
    }

    previous_color = []
    previous_color.push([id,color])
    $(id).style.background = 'lightblue'; //'#55AAFF';
  }

  function setRegimenId() {
    $('regimen').value = regimen_id
    $('clearButton').style.display = 'inline';
    $('keyboard').style.display = 'inline';
    $('viewport').style.display = 'inline';
  }
</script>
<form id='regimen_form' action="/regimens/create" method='post'>
 
  <%= hidden_field_tag :patient_id, @patient.id %>
  
  <%= select_tag :patient_program, options_for_select(@programs.map{|program| [program.program.name, program.patient_program_id] if PatientProgram.find(program.patient_program_id).date_completed == nil}), {
    :textCase => "upper", 
    :allowFreeText => 'false',
    :helpText => "Prescribe regimen for which program?"}%>
  
  <%#= select_tag :continue_existing_regimen, options_for_select([['',''],['YES','YES'],['NO','NO']], ''), {
    :textCase => "upper", 
    :allowFreeText => 'false',
    :condition => 'current_regimens_for_programs[$("patient_program").value] != null',
    :tt_onLoad => '$("infoBar"+tstCurrentPage).innerHTML = current_regimen_names_for_programs[$("patient_program").value]',
    :helpText => "Continue existing regimen?"}%>
  
  <%= text_field_tag :regimen_concept_id, nil, {
    :ajaxUrl => "",
    :allowFreeText => 'false',
    :condition => 'selectedValue("continue_existing_regimen") != "YES"',
    :tt_onLoad => 'set_patient_program_for_suggestions();',
    :helpText => "Select regimen"}%>
  
  <%= text_field_tag :regimen, nil, {
    :ajaxUrl => "",
    :tt_onUnLoad => "setRegimenId();" ,
    :allowFreeText => false ,
    :tt_onLoad => 'set_regimen_concept_id_for_regimen();buildPrescriptionPage();',
    :helpText => "Select formulations and doses"}%>

  <%= text_field_tag :duration, nil, { 
    :ajaxURL => "", 
    :field_type => 'number',
    :units => 'days',
    :tt_onLoad => 'set_regimen_concept_id_for_duration();',
    :helpText => "Duration (days)",
    :validationRule => "([0-9]+\\.?[0-9]*)|Unknown$",
    :validationMessage => "You must enter a number (for example: 5<b>.0</b>)",
    :allowFreeText => "true",
    :tt_pageStyleClass => "NumbersOnlyWithDecimal"}%>
  
</form>
